<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/images/favicon.ico">
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>GO RANDO</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/owl.css">

  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>GO <em>Rando</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home
                      <span class="sr-only">(current)</span>
                    </a>
                </li> 

                <li class="nav-item"><a class="nav-link" href="packages.html">Packages</a></li>

                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">More</a>
                    
                    <div class="dropdown-menu">
                      <a class="dropdown-item" href="about-us.html">About Us</a>
                      <a class="dropdown-item" href="testimonials.html">Testimonials</a>
                      <a class="dropdown-item" href="terms.html">Terms</a>
                    </div>
                </li>
                
                <li class="nav-item"><a class="nav-link" href="contact.html">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Let's go on a rando!</h4>
            <h2>Find your best event !</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>make your own Trip ! </h4>
            <h2> Be one of the sekeers</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Start Living</h4>
            <h2> </h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <div class="latest-products">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>OUR EVENTS</h2>
       
            </div>
          </div>
          <div class="col-md-4">
            <div class="product-item">
              <a href="package-details.html"><img src="assets/images/sh.jpg" alt=""></a>
              <div class="down-content">
                <a href="package-details.html"><h4>Passer une semaine au Sahara du Sud</h4></a>

                <h6>450DT</h6>


                <p> Soyez presents dans le randonne du sud et passer une semaine au sien du dizert cet randonne est organise par l'agence de vouyage Safari  <p class="n-m"><p> <a href="http://127.0.0.1:8000/participant001/new"> inscrivez_vous ? </a></p></p> </p>
         

                <small>

                
                     <strong title="Nights"><i class="fa fa-cube"></i> 06 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;

                  
                </small>
                   
              </div>
            </div>
          </div>



          <div class="col-md-4">
            <div class="product-item">
              <a href="package-details.html"><img src="assets/images/cp.jpg" alt=""></a>


                    
              <div class="down-content">
                <a href="package-details.html"><h4>Camping disponible en bizerte cap Zbib</h4></a>
            


                <h6>150DT </h6>

                <p> un camping pendant 3 jours et 2 nuits avec belle compagnie organiser par l'agence Taha vouyage  <p class="n-m"><p> <a href="http://127.0.0.1:8000/participant001/new"> inscrivez_vous? </a></p></p> </p>

                <small>
 
                     <strong title="Nights"><i class="fa fa-cube"></i> 02 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;
       
                </small>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="product-item">
              <a href="package-details.html"><img src="assets/images/ph1.jpg" alt=""></a>

              <div class="down-content">
                <a href="package-details.html"><h4>Passer 4 jours a sousse</h4></a>

                <h6>300 DT </h6>

                <p> Passer 4 jours sur la plage du sousse et soiyer presents dans les soirees organiser par Tunisie Voyage <p class="n-m"><p> <a href="http://127.0.0.1:8000/participant001/new"> inscrivez_vous? </a></p></p></p>

                <small>
              
                     <strong title="Nights"><i class="fa fa-cube"></i> 03 nights</strong> &nbsp;&nbsp;&nbsp;&nbsp;

               
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Us</h2>
              
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              
              <ul class="featured-list">
               <a href="package-details.html"><img src="assets/images/codeqr1.PNG" alt=""></a>
             
              </ul>
           
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/images/gr.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="services" style="background-image: url(assets/images/other-image-fullscren-1-1920x900.jpg);" >
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2> les plus proches evenements </h2>

        
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a href="#" class="services-item-image"><img src="assets/images/ph2.1.jpg" class="img-fluid" alt=""></a>

              <div class="down-content">
                <h4><a href="#">Randonne a Ain mestir</a></h4>

                <p style="margin: 0;"> Taha voyage  &nbsp;&nbsp;|&nbsp;&nbsp; 25/12/2021  &nbsp;&nbsp;|&nbsp;&nbsp; 10:30 <p class="n-m"><p> <a href="http://127.0.0.1:8000/participant001/new"> inscrivez_vous? </a></p></p> </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a href="#" class="services-item-image"><img src="assets/images/ph2.2.jpg" class="img-fluid" alt=""></a>

              <div class="down-content">
                <h4><a href="#"> Rondonne au Sahara du Touzer</a></h4>

                <p style="margin: 0;"> Link voyage &nbsp;&nbsp;|&nbsp;&nbsp; 27/12/2021 &nbsp;&nbsp;|&nbsp;&nbsp;8:15 <p class="n-m"><p> <a href="http://127.0.0.1:8000/participant001/new"> inscrivez_vous? </a></p></p> </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <a href="#" class="services-item-image"><img src="assets/images/ph2.3.jpg" class="img-fluid" alt=""></a>

              <div class="down-content">
                <h4><a href="#"> Rondonne a Jamm</a></h4>

                <p style="margin: 0;"> Tunisie Boking &nbsp;&nbsp;|&nbsp;&nbsp;29/12/2021 &nbsp;&nbsp;|&nbsp;&nbsp; 8:00 <p class="n-m"><p> <a href="http://127.0.0.1:8000/participant001/new"> inscrivez_vous? </a></p></p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="happy-clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>Feel Free</h2>

            </div>
          </div>
          <div class="col-md-12">
            <div class="owl-clients owl-carousel text-center">
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-plus"></i>
               
                </div>
                <div class="down-content">
                  <h4>Proposer un evenement  </h4>
                  <p class="n-m"><p> <a href="http://127.0.0.1:8000/rondo2/new"> Passer votre propostion ? </a></p></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-edit"></i>
                </div>
                <div class="down-content">
                  <h4>Modifier votre proposition</h4>
                  <p class="n-m"><p> <a href="http://127.0.0.1:8000/rondo2/"> modifier votre propostion ? </a></p></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-magic"></i>
                </div>
                <div class="down-content">
                  <h4>Supprimer votre proposition</h4>
                  <p class="n-m"><p> <a href="http://127.0.0.1:8000/rondo2/"> supprimer votre propostion ? </a></p></p>
                </div>
              </div>
              
              <div class="service-item">
                <div class="icon">
                  <i class="fa fa-eye"></i>
                </div>
                <div class="down-content">
                  <h4>Afficher votre proposition</h4>
                  <p class="n-m"><p> <a href="http://127.0.0.1:8000/rondo2/"> afficher votre propostion ? </a></p></p>
                </div>
              </div>
              
   
              
          
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>SEKERS</h4>
                  <p>merci pour votre visite ! </p>
                </div>
                <div class="col-lg-4 col-md-6 text-right">
                 <!-- <a href="contact.html" class="filled-button">Contact Us</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 

    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
            
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>





    <!-- begin -->
     <link rel="stylesheet" href="LD/LD.css">
     <script src="LD/Script1.js"></script>

 <div class="container">

    <form class="well form-horizontal" action=" " method="post"  id="contact_form">
<fieldset>

<!-- Form Name -->
<legend>Give us your opinion!</legend>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label">First Name</label>  
  <div class="col-md-4 inputGroupContainer">
  <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input  name="first_name" placeholder="First Name" class="form-control"  type="text">
    </div>
  </div>
</div>

<!-- Text input-->

<div class="form-group">
  <label class="col-md-4 control-label" >Last Name</label> 
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
  <input name="last_name" placeholder="Last Name" class="form-control"  type="text">
    </div>
  </div>
</div>




<!-- Text input-->
       
<div class="form-group">
  <label class="col-md-4 control-label">Phone #</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
  <input name="phone" placeholder="(+216)555-444" class="form-control" type="text">
    </div>
  </div>
</div>

<!-- Text input-->
      
<div class="form-group">
  <label class="col-md-4 control-label">Address</label>  
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
  <input name="address" placeholder="Address" class="form-control" type="text">
    </div>
  </div>
</div>



<!-- Select Basic -->
   
<div class="form-group"> 
  <label class="col-md-4 control-label">State</label>
    <div class="col-md-4 selectContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
    <select name="state" class="form-control selectpicker" >
      <option value=" " >Please select your state</option>
    <option>tunis </option>
      <option>sfax</option>
      <option>nabeul</option>
      <option>souse</option>
      <option>gabes</option>
      <option>tataouine</option>
      <option>mehdiya</option>
      <option>gasrine</option>
      <option>beja</option>
   
    </select>
  </div>
</div>
</div>




<!-- radio checks -->
 <div class="form-group">
                        <label class="col-md-4 control-label">Do you Like our page ? </label>
                                                   <div class="container center">
	<div class="like">
		<button onclick="like()">&#128077;</button>
		<span id="pLikes">like</span>
	</div>
	<div class="disLike">
		<button onclick="disLike()">&#128078;</button>
		<span id="pDisLikes">like</span>
	</div>
</div>
  <link rel="stylesheet" href="LD/LD.css">
<script src="LD/Script1.js"></script>
                        </br>
      



<!-- Text area -->
  
<div class="form-group">
</br>
  <label class="col-md-4 control-label">commentaire</label>
    <div class="col-md-4 inputGroupContainer">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        	<textarea class="form-control" name="comment" placeholder="commentaire"></textarea>
  </div>
  </div>
</div>

<!-- Success message -->
<div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for contacting us, we will get back to you shortly.</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label"></label>
  <div class="col-md-4">
    <button type="submit" class="btn btn-warning" >Send <span class="glyphicon glyphicon-send"></span></button>
  </div>
</div>

</fieldset>
</form>
</div>
    </div><!-- /.container -->

  <!-- end --> 

    
  </body>
</html>

