<form method="post" action="{{ path('participant001_delete', {'id': participant01.id}) }}" onsubmit="return confirm('etes vous sure de vouloir supprimer votre inscription?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ participant01.id) }}">
    <button class="btn">Delete</button>
</form>
