<form method="post" action="{{ path('cmt_delete', {'id': cmt.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cmt.id) }}">
    <button class="btn">Delete</button>
</form>
