% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <h1>Liste des articles</h1>
    {% for gagnant in gagnants %}
        <tr>
        <td>{{ gagnant.idGagnant }}</td>
        <td>{{ gagnant.nomGagnant }}</td>
    {% endfor %}
    {{ knp_pagination_render(gagnants) }}
{% endblock %}